.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var cnzz = "http://new.cnzz.com/v1/login.php?siteid=1263420600"
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] #[script(src="https://s19.cnzz.com/z_stat.php?id=1263420600&web_id=1263420600" language="JavaScript")] 